.header {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  background: var(--color-main);
  z-index: 10;
  border-bottom: 2px solid var(--color-background);
}

.logo {
  min-width: 130px;
  overflow: hidden;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

.logo img {
  height: 30px;
}

.logo-text {
  font-size: 20px;
  padding-left: 5px;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  transform: translateY(-0.5em);
}

ul,
ul li,
ul ul li {
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}

.navigation {
  transform: translateY(-0.2rem);
}

.links {
  margin: 0;
}

.link:first-of-type {
  margin-left: 0;
}

.link {
  margin: 0 0 0 2.5rem;
  display: inline-block;
  cursor: pointer;
}

.link-hidden {
  display: none;
}

.link-text {
  color: var(--color-text-unselected);
  text-decoration: none;
}

.link.active .link-text {
  color: var(--color-text);
}

.icon {
  transform: translateY(0.4rem);
  padding-right: 5px;
  width: 24px;
  height: 24px;
}

.link.active .icon-fill {
  fill: var(--color-text);
}

.link:not(.active):hover .link-text,
.link:not(.active):hover .icon {
  color: var(--color-text-unselected);
  opacity: 0.6;
}

.user-info {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  min-width: 170px;
}

.balance-box {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 140px;
  height: 40px;
  background-color: var(--color-info);
  border-radius: 15px;
  padding-left: 5px;
}

.btn-add {
  width: 30px;
  height: 30px;
  display: inline;
  background-color: var(--color-secondary);
  color: var(--color-white);
  border: 0;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
}

.balance {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 2px;
  overflow: hidden;
  transform: translateX(-0.2rem);
}

.balance-value {
  display: inline;
  font-weight: var(--weight-medium);;
}

.currency-icon {
  margin-right: 5px;
  width: 1.2em;
}

.currency-icon .icon-fill {
  fill: var(--color-text);
}

.profile-picture {
  height: 40px;
  border-radius: 100%;
  margin-left: 5px;
  cursor: pointer;
  object-fit: cover;
}

.arrow-down-icon {
  width: 32px;
  height: 32px;
  margin-left: 5px;
  cursor: pointer;
}

.arrow-down-icon.active {
  transform: rotate(180deg);
}

.arrow-down-icon .arrow-down-path {
  fill: var(--color-text);
}

.arrow-down-icon.active .arrow-down-path {
  fill: var(--color-secondary);
}

.authentication>.link {
  margin: 0 0 0 1.5rem;
}

.authentication .link-text {
  color: var(--color-text-unselected);
  text-decoration: none;
}

.authentication .btn-outline {
  padding: 5px 10px;
}

.btn-link {
  color: var(--color-text);
  text-decoration: none;
}

.btn-link:hover {
  color: var(--color-text-unselected);
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .user-info {
    justify-content: flex-end;
  }

  .profile-picture {
    display: none;
  }

  .arrow-down-icon {
    display: none;
  }

  .navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 62px;
    padding-bottom: 2px;
    background: var(--color-main);
    transform: translateY(2px);
    border-top: 2px solid var(--color-background);
    z-index: 10;
  }

  .links {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
  }

  .link {
    margin: 0;
    width: 58px;
    height: 42px;
  }

  .authentication .link {
    width: auto;
    height: auto;
  }

  .link-hidden {
    display: inline-block;
  }

  .icon {
    display: block;
    margin: 0 auto;
    width: 32px;
    height: 32px;
    transform: translate(3px, 3px);
  }

  .link-text {
    font-size: 12px;
    display: block;
    margin: 2px auto 0;
    text-align: center;
    height: 1rem;
    overflow: hidden;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}
