<div class="header">
  <div class="logo">
    <img src="./favicon.ico" alt="">
    <div class="logo-text">SuchDoge</div>
  </div>
  <nav class="navigation">
    <ul class="links">
      <li class="link active">
        <div class="icon"></div>
        <a href="#" class="link-text">All memes</a>
      </li>
      <li class="link">
        <div class="icon"></div>
        <a href="#" class="link-text">Top memes</a>
      </li>
      <li class="link">
        <div class="icon"></div>
        <a href="#" class="link-text">About</a>
      </li>
    </ul>
  </nav>
  <div class="user-info">
    <div class="balance-box">
      <button class="btn-add">+</button>
      <div class="icon"></div>
      <div class="balance">2023</div>
    </div>
    <img src="https://www.blexar.com/avatar.png" alt="" class="profile-picture">
    <div class="arrow-down-icon">\/</div>
  </div>
</div>
