<div class="heading">
  <h1 class="title">My Memes</h1>
</div>

<div class="page-content">
  <div class="memes-grid">
    <ng-template [ngIf]="isLoading">
      <app-empty-meme *ngFor="let el of getArray(size)"></app-empty-meme>
    </ng-template>

    <ng-template [ngIf]="!isLoading">
      <app-meme-card *ngFor="let meme of memes" [meme]="meme"></app-meme-card>
      <div class="not-found-center" *ngIf="!memes || !memes.length">No memes yet</div>
    </ng-template>
  </div>
</div>

<app-pagination [size]="size" [currentPage]="currentPage" [elementsCount]="memesCount"
                (nextPage)="moveToPage($event)"
                (invalidPage)="moveToPage(1)"></app-pagination>
