<div class="card">
  <div class="card-header">
    <img src="https://www.blexar.com/avatar.png" alt="user-image" class="user-image no-select">
    <div class="header-content">
      <div class="name">Such a Great Meme</div>
      <div class="description">I like it</div>
    </div>
    <div class="options no-select">...</div>
  </div>
  <img src="https://suchwow.xyz/uploads/g2tkRxHOIz23FSWU-smath-mouth-all-wow.png" alt="meme" class="meme no-select">
  <button class="btn-outline">Donate</button>
</div>
