<div class="profile-image-card">
  <img [src]="profileImage"
       [alt]="username + ' user-profile image'">
  <ng-container *ngIf="isEditable">
    <div class="file-upload" *ngIf="!resizedImageUrl">
      <label class="btn-outline btn-upload" for="profile-img" (click)="memeFileInput.value = ''">
        + Upload new photo
        <input class="visually-hidden"
               id="profile-img"
               type="file"
               [accept]="acceptedImageTypesString"
               (change)="onSelect(asInputElement($event.target).files)"
               #memeFileInput>
      </label>
    </div>
    <ng-template [ngIf]="resizedImageUrl">
      <button class="btn-outline btn-success" (click)="saveImage()">Save</button>
      <button class="btn-solid btn-danger" (click)="setResizedImage(null)">Cancel</button>
    </ng-template>
  </ng-container>
</div>

<app-image-resizer *ngIf="isResizing && image"
                   [aspectRatio]="1"
                   [image]="image"
                   (imageResized)="setResizedImage($event)">
</app-image-resizer>
