<div class="auth-container">
  <div class="illustration-panel">
    <img class="illustration no-select" src="/assets/images/flying_doge.png"/>
  </div>
  <div class="login-panel">
    <p class="tip">{{ isRegister ? 'Already have an account?' : 'New here?' }}
      <a class="tip-link" routerLink="/login">{{ isRegister ? 'Login' : 'Sing up'}}</a></p>
    <h2 class="headline">{{ isRegister ? 'Welcome to SuchDoge!' : 'Hello again!'}}</h2>
    <h3 class="subtitle">{{ isRegister ? 'Register your account' : 'Login into your account'}}</h3>
    <form class="auth-form">
      <label for="username">Username</label>
      <input id="username" type="text" placeholder="suchname">
      <ng-template [ngIf]="isRegister">
        <label for="email">Email</label>
        <input id="email" type="email" placeholder="lol@suchdoge.xyz">
      </ng-template>
      <label for="password">Password</label>
      <input id="password" type="password" [placeholder]="isRegister ? 'pls be secure' : 'what was...'">
      <button class="btn-solid">{{ isRegister ? 'Sign Up' : 'Login'}}</button>
    </form>
  </div>
</div>
