<div class="auth-container">
  <div class="illustration-panel" [ngStyle]="{background: getIllustrationBackground()}">
    <img class="illustration no-select" [src]="imageSrc"/>
  </div>
  <div class="login-panel">
    <p class="tip">{{ isRegister ? 'Already have an account?' : 'New here?' }}
      <a class="tip-link" [routerLink]="isRegister ? '/login' : '/register'">{{ isRegister ? 'Login' : 'Sing up'}}</a>
    </p>
    <h2 class="headline">{{ isRegister ? 'Welcome to SuchDoge!' : 'Hello again!'}}</h2>
    <h3 class="subtitle">{{ isRegister ? 'Register your account' : 'Login into your account'}}</h3>
    <form class="auth-form" [formGroup]="authForm" (ngSubmit)="onAuthenticate()">
      <div class="error-message" *ngIf="errorMessage">*{{ errorMessage }}</div>
      <div class="form-control">
        <label for="username">Username</label>
        <input id="username"
               type="text"
               placeholder="suchname"
               formControlName="username">
        <ng-template [ngIf]="username.touched && username.invalid && username.errors">
          <span class="hint" *ngIf="username.errors.required">* Username is required.</span>
          <span class="hint" *ngIf="username.errors.minlength">* Username must be at least {{ username.errors?.minlength?.requiredLength }} characters.</span>
          <span class="hint" *ngIf="username.errors.maxlength">* Username can not be more than {{ username.errors?.maxlength?.requiredLength }} characters.</span>
        </ng-template>
      </div>
      <div class="form-control" *ngIf="isRegister">
        <label for="email">Email</label>
        <input id="email"
               type="email"
               placeholder="lol@suchdoge.xyz"
               formControlName="email">
        <ng-template [ngIf]="email.touched && email.invalid && email.errors">
          <span class="hint" *ngIf="email.errors.email">* Must be a valid email.</span>
          <span class="hint" *ngIf="email.errors.required">* Email is required.</span>
          <span class="hint" *ngIf="email.errors.minlength">* Email must be at least {{ email.errors?.minlength?.requiredLength }} characters.</span>
          <span class="hint" *ngIf="email.errors.maxlength">* Email can not be more than {{ email.errors?.maxlength?.requiredLength }} characters.</span>
        </ng-template>
      </div>
      <div id="passwords" formGroupName="passwords">
        <div class="form-control">
          <label for="password">Password</label>
          <input id="password"
                 type="password"
                 [placeholder]="isRegister ? 'pls be secure' : 'what was...'"
                 formControlName="password">
          <ng-template [ngIf]="password.touched && password.invalid && password.errors">
            <span class="hint" *ngIf="password.errors.required">* Password is required.</span>
            <span class="hint" *ngIf="password.errors.hasDigit">* Must contain at least 1 digit.</span>
            <span class="hint" *ngIf="password.errors.hasAlphabeticCharacters">* Must contain at least 1 alphabetic character.</span>
            <span class="hint" *ngIf="password.errors.minlength">* Password must be at least {{ password.errors?.minlength?.requiredLength }} characters.</span>
            <span class="hint" *ngIf="password.errors.maxlength">* Password can not be more than {{ password.errors?.maxlength?.requiredLength }} characters.</span>
          </ng-template>
        </div>
        <div class="form-control" *ngIf="isRegister">
          <label for="confirmed">Confirm Password</label>
          <input id="confirmed"
                 type="password"
                 placeholder="pls be the same"
                 formControlName="confirmed">
          <ng-template [ngIf]="confirmed.touched && passwords.invalid && passwords.errors">
            <span class="hint" *ngIf="passwords.errors.isPasswordConfirmed">* Password is not the same.</span>
          </ng-template>
        </div>
      </div>
      <button class="btn-solid">{{ isRegister ? 'Sign Up' : 'Login'}}</button>
    </form>
  </div>
</div>
