.auth-container {
  position: relative;
  display: flex;
  background: var(--color-main);
  margin: auto;
  width: 85%;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--box-shadow-card);
}

.illustration-panel {
  position: relative;
  background: #2B2935;
  width: 45%;
  overflow: hidden;
}

.illustration {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.login-panel {
  width: 60%;
  padding: 10px 70px 70px;
}

.login-panel>.tip {
  display: block;
  margin: 12px 0 30px 0;
  text-align: right;
  color: var(--color-text-unselected);
  font-size: 15px;
  font-weight: var(--weight-medium);
}

.login-panel>.tip>.tip-link {
  color: var(--color-text-unselected);
  cursor: pointer;
  margin-left: 0.3em;
}

.login-panel>.headline {
  margin: 10px 0 2px 0;
  font-weight: var(--weight-medium);
  font-size: 26px;
}

.login-panel>.subtitle {
  margin: 0;
  font-weight: var(--weight-medium);
  font-size: 16px;
  color: var(--color-text-unselected);
}

.error-message {
  color: var(--color-danger);
  font-size: 15px;
  margin: 0 0 3px 1px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 30px;
}

.auth-form label {
  font-weight: var(--weight-medium);
  margin: 0 0 9px 0;
}

.auth-form .form-control {
  margin: 0 0 20px 0;
}

.auth-form .hint {
  display: block;
  color: var(--color-danger);
  font-size: 13px;
}

.auth-form input {
  padding: 0.7em;
  width: 100%;
  background: transparent;
  border: 2px solid var(--color-light-text-unselected);
  color: var(--color-secondary);
  font-weight: var(--weight-medium);
  outline: none;
  border-radius: 7px;
}

.auth-form input::placeholder {
  color: var(--color-light-text-unselected);
  font-weight: var(--weight-regular);
}

.auth-form input:active,
.auth-form input:focus {
  border: 2px solid var(--color-secondary);
}

.auth-form input.ng-touched.ng-invalid {
  border: 2px solid var(--color-danger);
}

.auth-form #passwords.ng-invalid #confirmed.ng-touched {
  border: 2px solid var(--color-danger);
}

.btn-solid {
  margin: 20px 0 0 0;
}

.passwords {
  padding: 0;
  margin: 0;
}

/* Responsive */
/* Large desktop */
@media (min-width: 1200px) {
  .auth-container {
    max-width: 1000px;
  }

  .illustration-panel {
    max-width: 390px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 979px) {
  .auth-container {
    width: 100%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .auth-container {
    width: 85%;
    justify-content: center;
    padding-top: 200px;
  }

  .illustration-panel {
    position: absolute;
    inset: 0 0 auto 0;
    width: auto;
    height: 250px;
    z-index: 1;
  }

  .login-panel {
    width: 90%;
    border-radius: 8px;
    padding: 10px 50px 50px;
    background: var(--color-main);
    z-index: 2;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .auth-container {
    width: 90%;
  }

  .login-panel {
    padding: 10px 20px 40px;
  }

  .btn-solid {
    display: inline-block;
    margin: 20px auto 0 auto;
  }
}
