<div class="heading">
  <h1 class="title">Upload Meme</h1>
</div>
<form class="doge-form">
  <div class="form-group">
    <div class="title">Meme Info</div>
    <label class="small-title" for="title">Title</label>
    <input class="input" type="text" id="title">
    <label class="small-title" for="description">Description</label>
    <input class="input" type="text" id="description">
  </div>
  <div class="form-group">
    <label class="small-title">Image</label>
    <label for="meme" class="input">
      {{ file ? fileName : 'No file uploaded'}}
    </label>
    <input type="file" id="meme" (change)="onFileSelect($event)">
  </div>
  <button class="btn-outline" type="submit">Submit</button>
</form>
