.drop-down {
  position: absolute;
  top: calc(100% + 10px);
  right: 0;
  width: 120%;
}

.toggle-box {
  position: relative;
  width: 44px;
  height: 24px;
  background: var(--color-background);
  border-radius: 15px;
  margin-left: auto;
}

.toggle-box.active {
  background: var(--color-text-unselected);
}

.toggle-box:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background: var(--color-text);
  transform: translate(-100%, -50%);
  transition: var(--transition);
}

.toggle-box.active:after {
  transform: translate(5%, -50%);
  background: var(--color-secondary);
}

/* Responsive */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .drop-down {
    position: fixed;
    inset: 72px 0 55px 0;
    width: auto;
    box-shadow: none;
    border-radius: 0;
    border: none;
    background: var(--color-background);
  }

  .toggle-box {
    background: var(--color-main);
  }
}
