.main-container {
  padding-top: 1.25em;
  padding-bottom: 5em;
  margin-top: 4.375rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 48rem) {
  .main-container {
    padding-bottom: 7.5em;
  }
}
