<div class="filter-controls no-select">
  <app-meme-order-filter
    *ngIf="orderOptions.isTimeOrderAllowed || orderOptions.isTippedOrderAllowed || orderOptions.isTopFilterAllowed"
    [orderOptions]="orderOptions"></app-meme-order-filter>

  <div *ngIf="showFilterTypeControls">
    <label class="big-checkbox" [ngClass]="{active: approvedCheckbox.checked}" for="approved">Approved only
      <input type="checkbox" id="approved" [ngModel]="approvedCheckboxValue" (change)="approvedOnlyToggle($event)"
             #approvedCheckbox>
    </label>
    <label class="big-checkbox" [ngClass]="{active: pendingCheckbox.checked}" for="pending">Pending only
      <input type="checkbox" id="pending" [ngModel]="pendingCheckboxValue" (change)="pendingOnlyToggle($event)"
             #pendingCheckbox>
    </label>
  </div>
</div>

<div class="meme-list">
  <ngx-masonry class="meme-masonry" *ngIf="isLoading" [options]="masonryOptions">
    <app-empty-meme *ngFor="let el of getArray(size)"
                    ngxMasonryItem></app-empty-meme>
  </ngx-masonry>

  <ng-template [ngIf]="!isLoading">
    <ngx-masonry class="meme-masonry" [ordered]="true" [options]="masonryOptions" [updateLayout]="!!(authService.user | async)">
      <app-meme-card *ngFor="let meme of memes"
                     ngxMasonryItem
                     [meme]="meme"
                     [isModeratorMode]="isModeratorMode"
                     (memeUpdated)="loadMemes()"></app-meme-card>
    </ngx-masonry>
    <div class="not-found-center" *ngIf="!memes || !memes.length">No memes yet</div>
  </ng-template>
</div>

<app-pagination *ngIf="!isLoading && memesCount"
                [size]="size" [currentPage]="currentPage" [elementsCount]="memesCount"
                (nextPage)="moveToPage($event)"
                (invalidPage)="moveToPage(1)"></app-pagination>
