.heading .title {
  margin: 0;
}

.btn-create {
  padding: 0 11px;
  height: 50px;
  float: right;
  background-color: var(--color-info);
  font-size: 16px;
  font-weight: var(--weight-medium);
  border: 0;
  border-radius: 10px;
  cursor: pointer;
}

.memes-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 1em;
  margin-top: 10px;
}

.not-found-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 24px;
  font-weight: var(--weight-medium);
}
