.not-found-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  font-size: 24px;
  font-weight: var(--weight-medium);
}

.filter-controls {
  display: flex;
  justify-content: end;
  margin-bottom: 1.25rem;
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .filter-controls {
    justify-content: center;
  }
}
