.options {
  position: relative;
}

.options-btn {
  font-size: 1.375rem;
  width: 0.75rem;
  transform: rotate(90deg);
  color: var(--color-text-unselected);
  cursor: pointer;
  background: transparent;
  border: none;
}

.drop-down {
  position: absolute;
  top: 2.125rem;
  right: -0.5rem;
  font-size: 0.9rem;
  min-width: 10em;
}
