.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  height: 360px;
  width: 290px;
  border-radius: 15px;
  padding: 20px;
  margin: auto;
  background-color: var(--color-main);
  box-shadow: var(--box-shadow-card);
}

.card-header {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.user-image {
  object-fit: cover;
  width: 50px;
  border-radius: 100%;
  cursor: pointer;
}

.header-content {
  cursor: pointer;
  margin-left: 10px;
}

.header-content .name {
  font-size: 16px;
  font-weight: var(--weight-medium);;
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-content .description {
  font-size: 14px;
  color: var(--color-text-unselected);
  max-width: 160px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card-header .options {
  margin: 0 0 auto auto;
  transform: rotate(90deg);
  font-size: 22px;
  color: var(--color-text-unselected);
  cursor: pointer;
  width: 14px;
}

.meme {
  object-fit: cover;
  margin: 20px 0;
  width: 250px;
  height: 180px;
  border-radius: 15px;
  border: 1px solid var(--color-text-unselected);
  cursor: pointer;
}

.btn-outline {
  width: 49%;
}

.meme-navigation>.btn-outline:last-of-type {
  margin-left: 2%;
}
