<div class="card">
  <div class="card-header">
    <img [src]="userService.getProfilePicUrl(meme.publisherUsername)"
         [alt]="meme.publisherUsername + '-picture'"
         class="user-image no-select">
    <div class="header-content">
      <div class="name">{{ meme.title }}</div>
      <div class="description">{{ meme.publisherUsername }}</div>
    </div>
    <div class="options no-select">...</div>
  </div>
  <img [src]="meme.imageUrl" [alt]="meme.description" class="meme no-select">
  <div class="meme-navigation">
    <ng-template [ngIf]="meme.isApproved == undefined || meme.isApproved" [ngIfElse]="notApprovedNavigation">
      <ng-container *ngIf="authService.user | async as user">
        <button *ngIf="user.username === meme.publisherUsername; else donateBtn" class="btn-outline" disabled>
          Statistics
        </button>
        <ng-template #donateBtn>
          <button class="btn-outline" (click)="startDonation()">Donate</button>
        </ng-template>
      </ng-container>
    </ng-template>
    <ng-template #notApprovedNavigation>
      <ng-template [ngIf]="isModeratorMode" [ngIfElse]="pendingNavigation">
        <button class="btn-outline btn-success" (click)="approve()">Approve</button>
        <button class="btn-outline btn-danger" (click)="reject()">Reject</button>
      </ng-template>
      <ng-template #pendingNavigation>
        <button class="btn-outline btn-grey" disabled>Pending Approval</button>
      </ng-template>
    </ng-template>
  </div>
</div>

<!--<ng-container *ngIf="isBigMemeOpen">-->
<!--  <div class="dark-bg"></div>-->
<!--  <div class="big-meme">-->
<!--    <img [src]="meme.imageUrl" [alt]="meme.description">-->
<!--  </div>-->
<!--</ng-container>-->


<app-donation *ngIf="isDonationOpen"
              [meme]="meme"
              (close)="donationFinished()"></app-donation>

<app-pop-up *ngIf="errorPopUpModel.description"
            [model]="errorPopUpModel"
            (buttonPressed)="errorPopUpModel.description = ''"></app-pop-up>

<app-pop-up *ngIf="successPopUpModel"
            [model]="successPopUpModel"
            (buttonPressed)="memeUpdatedSuccessfully()"></app-pop-up>
