.card {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border-radius: 1rem;
  padding: 1.25rem;
  background-color: var(--color-main);
  box-shadow: var(--box-shadow-card);
}

.card-header {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.user-image {
  object-fit: cover;
  height: 3.125rem;
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  cursor: pointer;
}

.header-content {
  cursor: pointer;
  margin-left: 0.625rem;
}

.header-content .name {
  font-size: 1rem;
  font-weight: var(--weight-medium);;
  max-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.header-content .description {
  font-size: 0.875rem;
  color: var(--color-text-unselected);
  max-width: 10rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.meme-drop-down {
  margin: 0 0 auto auto;
}

.meme {
  object-fit: cover;
  margin: 20px 0;
  /*aspect-ratio: 25 / 18;*/
  border-radius: 0.75rem;
  outline: 0.125rem solid var(--color-text-unselected);
  cursor: pointer;
}

.meme-navigation {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  gap: 0.6rem;
}
