<div class="card">
  <div class="card-header">
    <img src="https://www.blexar.com/avatar.png" alt="user-image" class="user-image no-select">
    <div class="header-content">
      <div class="name">{{ meme.title }}</div>
      <div class="description">{{ meme.publisherUsername }}</div>
    </div>
    <div class="options no-select">...</div>
  </div>
  <img [src]="meme.imageUrl" [alt]="meme.description" class="meme no-select">
  <div class="meme-navigation">
    <button class="btn-outline btn-success">Approve</button>
    <button class="btn-outline">Deny</button>
  </div>
</div>
