<div class="heading">
  <h1 class="title">Profile</h1>
</div>

<div class="content">
  <div class="row image-row">
    <div class="profile-image-card">
      <img src="https://www.blexar.com/avatar.png" alt="profile-image">
      <button class="btn-outline btn-upload">+ Upload new photo</button>
    </div>
  </div>
  <div class="row settings-row" style="flex: 2;">
    <form class="doge-form" [formGroup]="userInfoForm" *ngIf="userInfo">
      <div class="title" hidden>Account settings</div>
      <div class="form-group">
        <label class="small-label" for="username">Username</label>
        <input class="input" type="text" id="username" formControlName="username">
      </div>
      <div class="form-group">
        <label class="small-label" for="email">Email</label>
        <input class="input" type="text" id="email" formControlName="email">
      </div>
      <div class="form-group">
        <label class="small-label" for="public-key">Public key</label>
        <input class="input" type="text" id="public-key" formControlName="publicKey">
      </div>
      <button class="btn-outline" type="submit">Save changes</button>
    </form>
    <form class="doge-form form-group" [formGroup]="passwordsForm">
      <div class="title">Password management</div>
      <div class="form-group">
        <label class="small-label" for="current-password">Current password</label>
        <input class="input" type="text" id="current-password" formGroupName="currentPassword">
      </div>
      <div class="form-group">
        <label class="small-label" for="new-password">New password</label>
        <input class="input" type="text" id="new-password" formGroupName="newPassword">
      </div>
      <div class="form-group">
        <label class="small-label" for="confirm-password">Confirm new password</label>
        <input class="input" type="text" id="confirm-password" formControlName="confirmPassword">
      </div>
      <button class="btn-outline" type="submit">Save changes</button>
    </form>
  </div>
  <div class="row statistics-row">
    <div class="small-label">Personal Statistics</div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
  </div>
</div>
