.content-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8.5rem, 0.5fr));
  align-items: start;
  gap: 1.5rem 0;
}

.content-grid>* {
  min-width: 18em;
}

.profile {
  grid-column: span 2;
}

.profile-image-card {
  background: var(--color-main);
  border-radius: 1rem;
  padding: 1.25em;
}

.profile-image-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  object-fit: cover;
}

.btn-upload {
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 0.625em !important;
  border: 0.1875em solid var(--color-info);
}

.btn-upload:hover,
.btn-upload:focus {
  color: var(--color-text);
  background-color: var(--color-info);
  outline: none;
}

.btn-outline {
  display: block;
  margin: auto;
}

.settings {
  grid-column: span 3;
  grid-row: span 2;
  padding: 0 1em;
  margin: 0 2rem;
}

.statistics {
  grid-column: span 2;
}

.statistic-card {
  position: relative;
  width: 100%;
  min-height: 5.625em;
  background: var(--color-main);
  border-radius: 1rem;
  margin: 0.625em 0;
  padding: 1.25em;
}

.statistic-card img {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  width: 3.125em;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
}

.statistic-card .card-content {
  position: absolute;
  top: 1.25em;
  left: 5.625em;
  max-height: 3.125em;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 6.875em);
}

.statistic-card .card-content>*{
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-content .value {
  font-size: 1.5rem;
  font-weight: var(--weight-medium);
}

.card-content .description {
  font-size: 1rem;
  font-weight: var(--weight-regular);
}

.input.highlighted {
  outline: 0.1875em solid var(--color-text-unselected);
  outline-offset: -0.1875em;
}

.input:read-only {
  cursor: default;
  color: var(--color-text-unselected);
  background: var(--color-background);
  outline: 0.1875em solid var(--color-info);
  outline-offset: -0.1875em;
}

/* Responsive */
/* Large desktop */
@media (min-width: 1200px) {
  .profile-image-card {
    margin-left: auto;
    max-width: 25em;
  }

  .settings {
    margin: 0 5%;
  }

  .statistics {
    max-width: 25em;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .content-grid {
    grid-template-columns: 1fr;
    gap: 2rem 0;
  }

  .content-grid>* {
    grid-column: span 1 !important;
    width: min(80%, 25em);
    margin: auto;
    padding: 0;
  }

  .statistic-card {
    margin-top: 10px;
  }

  .settings {
    order: 3;
  }

  .doge-form .input {
    width: 100%;
  }

  .settings .title {
    display: block;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .content-grid>* {
    width: 95%;
  }
}

