<div class="heading">
  <h1 class="title">Profile</h1>
</div>

<div class="content-grid" *ngIf="userInfo">
  <div class="profile">
    <div class="profile-image-card">
      <img [src]="profileImage"
           [alt]="userInfo.username + '-profile'">
      <div class="file-upload" *ngIf="!resizedImageUrl">
        <label class="btn-outline btn-upload" for="profile-img" (click)="memeFileInput.value = ''">
          + Upload new photo
          <input class="visually-hidden"
                 id="profile-img"
                 type="file"
                 accept="image/jpeg,image/png"
                 (change)="onSelect(asInputElement($event.target).files)"
                 #memeFileInput>
        </label>
      </div>
      <ng-template [ngIf]="resizedImageUrl">
        <button class="btn-outline btn-success" (click)="saveImage()">Save</button>
        <button class="btn-solid btn-danger" (click)="setResizedImage(null)">Cancel</button>
      </ng-template>
    </div>
  </div>

  <div class="settings">
    <form class="doge-form" (ngSubmit)="updateUserInfo()" [formGroup]="userInfoForm">
      <div class="title" hidden>Account settings</div>
      <div class="form-group">
        <label class="small-label" for="username">Username</label>
        <input readonly [ngClass]="{highlighted: isUsernameChanged}" class="input" type="text" id="username"
               formControlName="username">
        <ng-template [ngIf]="username.touched && username.invalid && username.errors">
          <span class="hint" *ngIf="username.errors.notOnlyWhitespace">* Username is only white space.</span>
          <span class="hint" *ngIf="username.errors.required">* Username is required.</span>
          <span class="hint"
                *ngIf="username.errors.minlength as error">* Username must be at least {{ error.requiredLength }}
            characters.</span>
          <span class="hint"
                *ngIf="username.errors.maxlength as error">* Username can not be more than {{ error.requiredLength }}
            characters.</span>
        </ng-template>
      </div>
      <div class="form-group">
        <label class="small-label" for="email">Email</label>
        <input [ngClass]="{highlighted: isEmailChanged}" class="input" type="text" id="email" formControlName="email">
        <ng-template [ngIf]="email.touched && email.invalid && email.errors">
          <span class="hint" *ngIf="email.errors.email">* Must be a valid email.</span>
          <span class="hint" *ngIf="email.errors.required">* Email is required.</span>
          <span class="hint"
                *ngIf="email.errors.minlength as error">* Email must be at least {{ error.requiredLength }}
            characters.</span>
          <span class="hint"
                *ngIf="email.errors.maxlength as error">* Email can not be more than {{ error.requiredLength }}
            characters.</span>
        </ng-template>
      </div>
      <div class="form-group">
        <label class="small-label" for="public-key">Public key</label>
        <input [ngClass]="{highlighted: isPublicKeyChanged}" class="input" type="text" id="public-key"
               formControlName="publicKey">
        <ng-template [ngIf]="publicKey.touched && publicKey.invalid && publicKey.errors">
          <span class="hint" *ngIf="publicKey.errors.notOnlyWhitespace">* Public key is only white space.</span>
        </ng-template>
      </div>
      <button [ngClass]="{'visually-hidden': !(userInfoForm.valid && isUserInfoChanged)}"
              [disabled]="!(userInfoForm.valid && isUserInfoChanged)"
              class="btn-outline" type="submit">Update profile
      </button>
    </form>
    <form class="doge-form form-group" (ngSubmit)="changePassword()" [formGroup]="passwordsForm">
      <div class="title">Password management</div>
      <div class="form-group">
        <label class="small-label" for="current-password">Current password</label>
        <input class="input" type="password" id="current-password" formControlName="current">
        <ng-template [ngIf]="currentPass.touched && currentPass.invalid && currentPass.errors">
          <span class="hint" *ngIf="currentPass.errors.required">* Current password is required.</span>
          <span class="hint"
                *ngIf="currentPass.errors.minlength as error">* Current Password must be at least {{ error.requiredLength }}
            characters.</span>
          <span class="hint"
                *ngIf="currentPass.errors.maxlength as error">* Current Password can not be more than {{ error.requiredLength }}
            characters.</span>
        </ng-template>
      </div>
      <div class="form-group">
        <label class="small-label" for="new-password">New password</label>
        <input class="input" type="password" id="new-password" formControlName="new">
        <ng-template [ngIf]="newPass.touched && newPass.invalid && newPass.errors">
          <span class="hint" *ngIf="newPass.errors.required">* New password is required.</span>
          <span class="hint" *ngIf="newPass.errors.hasDigit">* Must contain at least 1 digit.</span>
          <span class="hint" *ngIf="newPass.errors.hasAlphabeticCharacters">* Must contain at least 1 alphabetic character.</span>
          <span class="hint"
                *ngIf="newPass.errors.minlength as error">* New password must be at least {{ error.requiredLength }}
            characters.</span>
          <span class="hint"
                *ngIf="newPass.errors.maxlength as error">* New password can not be more than {{ error.requiredLength }}
            characters.</span>
        </ng-template>
      </div>
      <div class="form-group">
        <label class="small-label" for="confirm-password">Confirm new password</label>
        <input class="input" type="password" id="confirm-password" formControlName="confirm">
        <ng-template [ngIf]="confirmPass.touched && passwordsForm.invalid && passwordsForm.errors">
          <span class="hint" *ngIf="passwordsForm.errors.isPasswordConfirmed">* Password is not the same.</span>
        </ng-template>
      </div>
      <button [ngClass]="{'visually-hidden': !(passwordsForm.touched && passwordsForm.valid)}"
              [disabled]="!(passwordsForm.touched && passwordsForm.valid)"
              class="btn-outline" type="submit">Change password
      </button>
    </form>
  </div>

  <div class="statistics">
    <div class="small-label">Personal Statistics</div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="card-content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all timeeeeeeeeeeeeeeeeeeee</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="card-content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="card-content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="card-content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="card-content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
  </div>
</div>

<app-image-resizer *ngIf="isResizing && image"
                   [aspectRatio]="1 / 1"
                   [image]="image"
                   (imageResized)="setResizedImage($event)">
</app-image-resizer>

<app-pop-up *ngIf="errorPopUpModel.description"
            [model]="errorPopUpModel"
            (buttonPressed)="errorPopUpModel.description = ''"></app-pop-up>

<app-pop-up *ngIf="isReady"
            [model]="successPopUpModel"
            (buttonPressed)="isReady = false"></app-pop-up>
