<div class="heading">
  <h1 class="title">Profile</h1>
</div>

<div class="content">
  <div class="row image-row">
    <div class="profile-image-card">
      <img src="https://www.blexar.com/avatar.png" alt="profile-image">
      <button class="btn-outline btn-upload">+ Upload new photo</button>
    </div>
  </div>
  <div class="row settings-row" style="flex: 2;">
    <div class="small-title" hidden>Personal Statistics</div>
    <form class="settings">
      <div class="form-group">
        <label class="small-title" for="username">Username</label>
        <input type="text" id="username">
        <label class="small-title" for="email">Email</label>
        <input type="text" id="email">
        <label class="small-title" for="public-key">Public key</label>
        <input type="text" id="public-key">
      </div>
      <div class="form-group">
        <div class="title">Password management</div>
        <label class="small-title" for="current-password">Current password</label>
        <input type="text" id="current-password">
        <label class="small-title" for="new-password">New password</label>
        <input type="text" id="new-password">
        <label class="small-title" for="confirm-password">Confirm new password</label>
        <input type="text" id="confirm-password">
      </div>
      <button class="btn-outline" type="submit">Save changes</button>
    </form>
  </div>
  <div class="row statistics-row">
    <div class="small-title">Personal Statistics</div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
    <div class="statistic-card">
      <img src="./assets/icons/like.png" alt="statistic-image">
      <div class="content">
        <div class="value">2 562</div>
        <div class="description">Likes delivered for all time</div>
      </div>
    </div>
  </div>
</div>
