.profile-image-card {
  background: var(--color-main);
  border-radius: 1rem;
  padding: 1.25em;
  max-width: 28em;
}

.profile-image-card img {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  object-fit: cover;
}

[class^='btn'], div[class*='btn'] {
  width: 100%;
  margin: 0.625em 0 0;
}

.btn-upload {
  --btn-color: var(--color-info);
  display: flex !important;
  align-items: center;
  justify-content: center;
}

.btn-upload:hover,
.btn-upload:focus {
  color: var(--color-text);
}

/* Responsive */
/* Large desktop */
@media (min-width: 1200px) {
  .profile-image-card {
    max-width: 25em;
  }
}
