/* Fonts */

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
    url('./assets/fonts/source-sans-pro/source-sans-pro-regular.woff2') format('woff2'),
    url('./assets/fonts/source-sans-pro/source-sans-pro-regular.woff') format('woff'),
    url('./assets/fonts/source-sans-pro/source-sans-pro-regular.ttf') format('truetype');
}

/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;

  font-display: swap;
  src: local(''),
    url('./assets/fonts/source-sans-pro/source-sans-pro-medium.woff2') format('woff2'),
    url('./assets/fonts/source-sans-pro/source-sans-pro-medium.woff') format('woff'),
    url('./assets/fonts/source-sans-pro/source-sans-pro-medium.ttf') format('truetype');
}

:root {
  /* Theming */

  /* Color book */
  /* Dark Theme */
  --color-dark-main: hsl(240, 13%, 13%);
  --color-dark-background: hsl(230, 14%, 9%);
  --color-dark-info: hsl(240, 13%, 20%);
  --color-dark-text: hsl(0, 0%, 100%);
  --color-dark-text-unselected: hsl(240, 7%, 40%);

  /* Light Theme */
  --color-light-main: hsl(0, 0%, 100%);
  --color-light-background: hsl(217, 24%, 93%);
  --color-light-info: hsl(218, 19%, 89%);
  --color-light-text: hsl(216, 11%, 17%);
  --color-light-text-unselected: hsl(202, 7%, 67%);

  /* Typography */
  --font-family-sans: 'Source Sans Pro', sans-serif;

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 600;

  /* Design Elements */
  --transition: 300ms ease-in-out;
}


/* Reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: var(--color-text);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-sans);
  font-size: 16px;
  background-color: var(--color-background);
}

/* Type Specs */


/* Accessibility */
.visually-hidden {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0, 0, 99.9%, 99,9%);
  overflow: hidden;
  border: 0;
}


/* App */
.app {
  /* Color Theme */
  --color-main: var(--color-light-main);
  --color-background: var(--color-light-background);
  --color-info: var(--color-light-info);
  --color-text: var(--color-light-text);
  --color-text-unselected: var(--color-light-text-unselected);
  --color-text-secondary: hsl(0, 0%, 100%);
  --color-secondary: rgb(249, 182, 75);
  --color-danger: #cc0000;
  --color-success: #25AE88;

  /* Drop Shadows */
  --box-shadow-card: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
      rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-scroll {
  overflow: hidden;
}

.main-container {
  padding: 15px 60px;
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0 15px 5px 15px;
}

.heading .title {
  float: left;
  font-size: 26px;
  margin: auto 0;
  font-weight: var(--weight-medium);
}


/* Doge Form */

.form-group {
  padding: 0 0 20px 0;
}

.form-group .title {
  margin-bottom: 10px;
  font-size: 17px;
}

.small-title {
  font-size: 14px;
}

.doge-form .input {
  display: block;
  width: 100%;
  min-width: 300px;
  height: 3rem;
  padding: 15px 20px;
  margin: 10px 0 20px 0;
  font-size: 16px;
  font-weight: var(--weight-regular);
  background: var(--color-info);
  border-radius: 15px;
  border: none;
  outline: none;
}


/* Doge Card */

.doge-card {
  min-width: 30%;
  text-align: center;
  background: var(--color-main);
  padding: 50px 50px 40px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-card);
}

.doge-card>.banner {
  width: 100px;
}

.doge-card>.banner .banner-success {
  fill: var(--color-success);
}

.doge-card>.banner .banner-danger {
  fill: var(--color-danger);
}

.doge-card>.message {
  font-size: 32px;
  line-height: 0.9;
  margin: 20px 0 10px;
}

.doge-card>.description {
  margin-bottom: 20px;
}


/* Buttons */

.btn-outline {
  --btn-color: var(--color-secondary);
  display: inline;
  width: 15.5em;
  height: 3.125em;
  font-size: 16px;
  font-weight: var(--weight-medium);
  color: var(--color-text);
  background-color: transparent;
  border: 3px solid var(--btn-color);
  border-radius: 15px;
  outline: none;
  cursor: pointer;

  transition: var(--transition);
}

.btn-outline:hover,
.btn-outline:focus {
  color: var(--color-text-secondary);
  background: var(--btn-color);
}

.btn-solid {
  --btn-color: var(--color-secondary);
  display: inline;
  width: 11.5em;
  height: 3.125em;
  font-size: 15px;
  font-weight: var(--weight-medium);
  color: var(--color-text-secondary);
  background-color: var(--btn-color);
  border: 3px solid var(--btn-color);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

.btn-solid:hover,
.btn-solid:focus {
  border: 3px solid var(--color-main);
}

.btn-success {
  --btn-color: var(--color-success);
}

.btn-danger {
  --btn-color: var(--color-danger);
}


/* Text colors */

.success-colored-text {
  color: var(--color-success);
}

.danger-colored-text {
  color: var(--color-danger);
}

.secondary-colored-text {
  color: var(--color-secondary);
}

@media (prefers-color-scheme: dark) {
  .app {
    --color-main: var(--color-dark-main);
    --color-background: var(--color-dark-background);
    --color-info: var(--color-dark-info);
    --color-text: var(--color-dark-text);
    --color-text-unselected: var(--color-dark-text-unselected);
  }
}

/* Responsive */
/* Large desktop */
@media (min-width: 1200px) {
  .main-container {
    padding: 15px 110px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 979px) {
  .main-container {
    padding: 15px 30px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .main-container {
    padding: 15px 20px;
  }

  .heading .title {
    margin: auto;
  }

  .small-title {
    margin-top: 20px;
    text-align: center;
  }

  .doge-form .small-title {
    display: block;
  }

  .doge-form .input {
    width: 420px;
    margin: 10px auto 20px;
  }

  .form-group .title {
    text-align: center;
  }

  .doge-card {
    position: absolute;
    min-width: 80%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .main-container {
    padding: 15px 10px;
  }

  .doge-form .input {
    width: 100%;
    margin: 10px 0 20px;
  }
}
