/* Fonts */

/* source-sans-pro-regular - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local(''),
  url('./assets/fonts/source-sans-pro/source-sans-pro-regular.woff2') format('woff2'),
  url('./assets/fonts/source-sans-pro/source-sans-pro-regular.woff') format('woff'),
  url('./assets/fonts/source-sans-pro/source-sans-pro-regular.ttf') format('truetype');
}

/* source-sans-pro-600 - latin */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;

  font-display: swap;
  src: local(''),
  url('./assets/fonts/source-sans-pro/source-sans-pro-medium.woff2') format('woff2'),
  url('./assets/fonts/source-sans-pro/source-sans-pro-medium.woff') format('woff'),
  url('./assets/fonts/source-sans-pro/source-sans-pro-medium.ttf') format('truetype');
}

/* Theming */

:root {
  /* Typography */
  --font-family-primary: 'Source Sans Pro', sans-serif;
  --font-family-secondary: Arial;

  /* Font Weights */
  --weight-regular: 400;
  --weight-medium: 600;

  /* Design Elements */
  --transition: 300ms ease-in-out;
  --bottom-navigation-height: 3.875rem;

  /* Drop Shadows */
  --box-shadow-card: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  --box-shadow-notification: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.light-theme {
  --color-main: hsl(0, 0%, 100%);
  --color-background: hsl(217, 24%, 93%);
  --color-info: hsl(218, 19%, 89%);
  --color-info-transparent: hsla(218, 19%, 89%, 0.95);
  --color-text: hsl(216, 11%, 17%);
  --color-text-unselected: hsl(202, 7%, 67%);
}

.dark-theme {
  --color-main: hsl(240, 13%, 13%);
  --color-background: hsl(230, 14%, 9%);
  --color-info: hsl(240, 13%, 20%);
  --color-info-transparent: hsl(240, 13%, 20%, 0.95);
  --color-text: hsl(0, 0%, 90%);
  --color-text-unselected: hsl(240, 7%, 40%);
}

.app {
  /* Additional Colors */
  --color-white: hsl(0, 0%, 100%);
  --color-secondary: rgb(249, 182, 75);
  --color-danger: #cc0000;
  --color-success: #25AE88;
  --cropper-outline-color: rgba(0, 0, 0, 0.45);
  --cropper-overlay-color: var(--color-background);
}

/* Reset */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  color: var(--color-text);
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-primary);
  font-size: 16px;
  background: var(--color-background);
}

/* Type Specs */


/* Accessibility */
.visually-hidden {
  padding: 0;
  width: 1px;
  height: 1px;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0, 0, 99.9%, 99, 9%);
  overflow: hidden;
  border: 0;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.no-scroll {
  overflow: hidden;
}

.main-container {
  padding: 1rem 60px;
}

.heading {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 1rem 5px 1rem;
  margin-bottom: 1rem;
}

.heading .title {
  float: left;
  font-size: clamp(1.625rem, 5vw, 2.75rem);
  margin: auto 0;
  font-weight: var(--weight-medium);
}

/* Notification Card */
.notification {
  --notification-color: var(--color-secondary);
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.75em 1em;
  border-radius: 1rem;
  border: 0.125em solid var(--color-info);
  background: var(--color-main);
  box-shadow: var(--box-shadow-notification);
}

.notification.danger {
  --notification-color: var(--color-danger);
}

.notification.success {
  --notification-color: var(--color-success);
}

.notification > .title {
  display: inline-block;
  color: var(--notification-color);
}

.notification > .message {
  margin-top: 0.5em;
  padding-left: 0.3em;
}

.notification > .options {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-end;
  gap: 1.5em;
  margin-top: 0.25rem;
}

.notification .option {
  font-family: var(--font-family-primary);
  font-size: 1rem;
  padding: 0.2em;
  border: unset;
  background: unset;
  cursor: pointer;
}

.notification .option.disabled {
  cursor: default;
}


/* Doge Form */
.doge-form {
  margin: 0 0 20px 0;
}

.doge-form .form-group {
  margin-bottom: 15px;
}

.doge-form .title {
  margin-bottom: 10px;
  font-size: 17px;
}

.small-label {
  font-size: 14px;
  margin: 0 0 0.625rem 0;
}

.doge-form .input {
  display: block;
  width: 100%;
  min-width: 300px;
  height: 3rem;
  padding: 15px 20px;
  margin: 10px 0 3px 0;
  font-size: 16px;
  font-weight: var(--weight-regular);
  background: var(--color-info);
  border-radius: 15px;
  border: none;
  outline: none;
}

form .hint {
  display: block;
  color: var(--color-danger);
  font-size: 13px;
}

/* Doge Card */
.dark-bg {
  position: fixed;
  inset: 0;
  background: #000;
  z-index: 20;
  opacity: 0.7;
}

.doge-card {
  min-width: 30%;
  text-align: center;
  background: var(--color-main);
  padding: 40px 50px 30px;
  border-radius: 10px;
  box-shadow: var(--box-shadow-card);
}

.doge-card.fixed {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-y: auto;
  max-height: 95%;
  z-index: 20;
}

.doge-card > .banner {
  width: 100px;
}

.doge-card > .banner .banner-success {
  fill: var(--color-success);
}

.doge-card > .banner .banner-danger {
  fill: var(--color-danger);
}

.doge-card > .message {
  font-size: 32px;
  line-height: 0.95;
  margin: 20px 0 10px;
}

.doge-card > .description {
  margin-bottom: 20px;
}

/* Drop Down*/
.drop-down {
  background: var(--color-main);
  border-radius: 1rem;
  border: 0.125rem solid var(--color-info);
  box-shadow: 0 6.25rem 5rem rgba(0, 0, 0, 0.07),
  0 2.5625rem 2rem rgba(0, 0, 0, 0.05),
  0 1.375rem 1.125rem rgba(0, 0, 0, 0.04),
  0 0.75rem 0.625rem rgba(0, 0, 0, 0.03),
  0 0.375rem 0.3125rem rgba(0, 0, 0, 0.03),
  0 0.125rem 0.125rem rgba(0, 0, 0, 0.02);
}

.drop-down ul {
  margin: 0;
  padding: 0 0.625em;
  list-style-type: none;
  text-indent: 0;
}

.drop-down li {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 8px 0;
  padding: 0.75em 0.625em;
  cursor: pointer;
  transition: var(--transition);
  border-radius: 0.625rem;
}

.drop-down li.active {
  background: var(--color-background);
  outline: 0.25em solid var(--color-background);
}

.drop-down li:hover {
  background: var(--color-info);
}

.drop-down li > a {
  font-size: 1em;
  margin-left: 0.625em;
}

.drop-down .icon {
  width: 1.5em;
  height: 1.5em;
}

.drop-down .icon-fill {
  fill: var(--color-text);
}

.drop-down .separator {
  width: 100%;
  font-size: 1em;
  height: 0.1em;
  background: var(--color-info);
  margin: auto;
}

/* Buttons */
[class^='btn'], [class*='btn'] {
  font-family: var(--font-family-secondary);
}

.btn-outline {
  --btn-color: var(--color-secondary);
  display: inline;
  width: 15.5em;
  height: 3.125em;
  font-size: 16px;
  font-weight: var(--weight-medium);
  color: var(--color-text);
  background: transparent;
  border: 3px solid var(--btn-color);
  border-radius: 15px;
  outline: none;
  cursor: pointer;

  transition: var(--transition);
}

.btn-outline:disabled {
  opacity: 0.5;
  cursor: default;
  border: 4px solid var(--btn-color);
}

.btn-outline:hover,
.btn-outline:focus {
  color: var(--color-white);
  background: var(--btn-color);
}

.btn-outline:disabled:hover,
.btn-outline:disabled:focus {
  color: var(--color-text);
  background: transparent;
}

.btn-solid {
  --btn-color: var(--color-secondary);
  display: inline;
  width: 11.5em;
  height: 3.125em;
  font-size: 15px;
  font-weight: var(--weight-medium);
  color: var(--color-white);
  background: var(--btn-color);
  border: 3px solid var(--btn-color);
  border-radius: 15px;
  outline: none;
  cursor: pointer;
  transition: var(--transition);
}

.btn-solid:hover,
.btn-solid:focus {
  border: 3px solid var(--color-main);
}

.btn-solid:disabled {
  opacity: 0.5;
  cursor: default;
}

.btn-solid:disabled:hover,
.btn-solid:disabled:focus {
  border: 3px solid var(--btn-color);
}

.btn-success {
  --btn-color: var(--color-success);
}

.btn-danger {
  --btn-color: var(--color-danger);
}

.btn-grey {
  --btn-color: var(--color-text-unselected);
}

.button-group {
  display: flex;
  margin-top: 20px;
  gap: 10px;
  justify-content: flex-end;
}

/* Custom check box */
.big-checkbox {
  display: inline-block;
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: var(--weight-medium);
  box-shadow: var(--box-shadow-card);
  background: var(--color-info);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  border: none;
}

.big-checkbox:not(.active):hover {
  background: var(--color-text-unselected);
}

.big-checkbox.active {
  background: var(--color-secondary);
  color: var(--color-white);
}

.big-checkbox > input[type=checkbox] {
  display: none;
}


/* Text colors */
.success-colored-text {
  color: var(--color-success);
  fill: var(--color-success);
}

.danger-colored-text {
  color: var(--color-danger);
  fill: var(--color-danger);
}

.secondary-colored-text {
  color: var(--color-secondary);
  fill: var(--color-secondary);
}


/* Image Cropper */
.ngx-ic-source-image {
  background: repeat url("/assets/images/transparent_bg.jpg");
}

.ngx-ic-square {
  background: var(--color-text) !important;
  border: 1px solid var(--color-text-unselected) !important;
  height: 6px;
  width: 6px;
}

.ngx-ic-cropper:after {
  border: 2px solid var(--color-text) !important;
  z-index: 0 !important;
}


/* Meme Grid*/
.meme-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  grid-gap: 1.5rem 2rem;
  margin-top: 10px;
}


/* Responsive */
/* Large desktop */
@media (min-width: 1200px) {
  .main-container {
    padding: 15px 110px;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 769px) and (max-width: 979px) {
  .main-container {
    padding: 15px 30px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .main-container {
    padding: 15px 20px;
  }

  .doge-form .form-group {
    margin-bottom: 20px;
  }

  .small-label {
    display: block;
    text-align: center;
  }

  .doge-form .input {
    width: 420px;
    margin: 10px auto 3px;
  }

  .doge-form .title {
    text-align: center;
  }

  .doge-card {
    position: absolute;
    min-width: 80%;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  .main-container {
    padding: 15px 10px;
  }

  .doge-form .input {
    width: 100%;
    margin: 10px 0 3px;
    min-width: revert;
  }

  .doge-card {
    width: 95%;
    height: auto;
    padding: 25px 4px 20px;
  }

  .visually-hidden-phone {
    padding: 0;
    width: 1px;
    height: 1px;
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(0, 0, 99.9%, 99, 9%);
    overflow: hidden;
    border: 0;
  }

  .big-checkbox {
    margin: 0 7px;
    padding: 10px 13px;
  }
}
