
.statistic-card {
  position: relative;
  width: 100%;
  min-height: 5.625em;
  background: var(--color-main);
  border-radius: 1rem;
  margin: 0.625em 0;
  padding: 1.25em;
}

.statistic-card img {
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  width: 3.125em;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
}

.statistic-card .card-content {
  position: absolute;
  top: 1.25em;
  left: 5.625em;
  max-height: 3.125em;
  display: flex;
  flex-direction: column;
  max-width: calc(100% - 6.875em);
}

.statistic-card .card-content>*{
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card-content .value {
  font-size: 1.5rem;
  font-weight: var(--weight-medium);
}

.card-content .description {
  font-size: 1rem;
  font-weight: var(--weight-regular);
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .statistic-card {
    margin-top: 10px;
  }
}
