<div class="dark-bg"></div>
<div class="doge-card fixed">
  <ng-container *ngIf="meme && !isLoading; else loading">
    <ng-container *ngIf="!summarizedTransaction; else confirmation">
      <div class="message">
        Donate <span class="secondary-colored-text">{{ requirements.network }}</span> to {{ meme.publisherUsername }}
      </div>
      <div class="danger-colored-text error-message">{{ errMessage }}</div>
      <form class="doge-form"
            (ngSubmit)="previewDonation()"
            [formGroup]="donationForm">
        <div class="form-container">
          <div class="form-group">
            <label for="amount" class="small-label">Amount</label>
            <input type="number" step="0.1" min="0" class="input" id="amount" [placeholder]="requirements.network"
                   formControlName="amount">
            <ng-template [ngIf]="amountControl.invalid && amountControl.errors">
              <span *ngIf="amountControl.errors.required" class="hint">* Amount is required.</span>
              <span *ngIf="amountControl.errors.min as error"
                    class="hint">* Amount must be at least {{ error.min }} {{ requirements.network }}.</span>
              <span *ngIf="amountControl.errors.max as error"
                    class="hint">* Amount can not be more than {{ error.max }} {{ requirements.network }}</span>
            </ng-template>
          </div>
          <div class="form-group">
            <p class="small-label">Transaction fee</p>
            <div class="fee-control no-select">
              <label *ngFor="let priority of priorities"
                     class="big-checkbox"
                     [ngClass]="{active: isPriorityActive(priority)}"
                     (click)="setPriority(priority)"
                     [for]="priority">
                {{ priority }}
                <input type="checkbox" [id]="priority">
              </label>
            </div>
          </div>
        </div>
        <div class="form-group closable" *ngIf="fee else loading">
          <label (click)="isMoreInfoOpen = !isMoreInfoOpen"
                 [ngClass]="{active: isMoreInfoOpen}"
                 class="big-checkbox"
                 for="closable-info">{{ isMoreInfoOpen ? "⮟" : "➤" }} Amount to be
            charged: {{ fee.additionalFee + fee.networkFee + amountControl.value }}</label>
          <div id="closable-info" class="transaction-summary" *ngIf="isMoreInfoOpen">
            <p class="transaction-info">Additional fee: {{ fee.additionalFee }}</p>
            <p class="transaction-info">Network fee: {{ fee.networkFee }}</p>
            <p class="transaction-info">Transaction size: {{ fee.transactionSize }}</p>
          </div>
        </div>
        <div class="button-group">
          <button type="button" class="btn-solid btn-danger" (click)="onClose()">Cancel</button>
          <button type="submit" class="btn-solid" [disabled]="donationForm.invalid || errMessage || !fee">Preview
          </button>
        </div>
      </form>
    </ng-container>
    <ng-template #confirmation>
      <div class="message">
        Preview <span class="secondary-colored-text">{{ requirements.network }}</span> donation
      </div>
      <div class="danger-colored-text error-message">{{ errMessage }}</div>
      <div class="doge-form" *ngIf="summarizedTransaction; else loading">
        <div class="form-group transaction-summary">
          <p class="transaction-info">Receiver: {{ meme.publisherUsername }}</p>
          <p class="transaction-info">Donation: {{ summarizedTransaction.amountToSend }}</p>
          <p class="transaction-info">Amount to be
            charged: {{ summarizedTransaction.amountToSend + summarizedTransaction.additionalFee + summarizedTransaction.networkFee }}</p>
          <p class="transaction-info">Network fee: {{ summarizedTransaction.networkFee }}</p>
          <p class="transaction-info">Additional fee: {{ summarizedTransaction.additionalFee }}</p>
        </div>
        <div class="button-group">
          <button type="button" class="btn-solid btn-danger" (click)="cancelDonationPreview()">Back</button>
          <button type="submit" class="btn-solid" (click)="confirmDonation()" [disabled]="errMessage">Confirm</button>
        </div>
      </div>
    </ng-template>
  </ng-container>
  <ng-template #loading>
    <app-spinner></app-spinner>
  </ng-template>
</div>
