.button-group {
  justify-content: center;
  padding-inline: 0.25em;
}

.form-container {
  width: 95%;
  margin: auto;
}

.input {
  width: 100% !important;
}

.fee-control {
  display: flex;
  gap: 0.625rem;
}

.big-checkbox {
  margin: 0;
  min-width: auto;
  width: 100%;
}
